<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <title>Atur Zakat</title>
  <style>
    body {
      margin: 2em 2em;
    }

    .button {
      display: grid;
      margin-top: 2em;
    }
  </style>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
    <script src="/static/autoNumeric.js"></script>
</head>

<body>
  <script>
    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) { return; }
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));

    
      //   let penghasilan = $('[name=penghasilan]').val();
      //   let tglGajian = $('[name=tglGajian]').val();
      //   //let hargaBeras = $('[name=hargaBeras]').val();
      //   let batasNishab = $('[name=batasNishab]').val();
      //   let wajibZakat = 'Tidak Wajib';
        
      //   $('[name=tglGajian]').keyup(hitung);

      //   function hitung(){

        
      //   if ( penghasilan > 0 && tglGajian > 0 ) {
      //       let jumlahZakat = penghasilan*0.025;
            
            
      //       if (jumlahZakat > batasNishab) {
      //         wajibZakat = 'Wajib';
      //       }
              
      //   }
      //   $('[name=wajibZakat]').val(wajibZakat);
      //         $('[name=zakat]').val(jumlahZakat);
      //         $('#jumlahZakat').text(`Rp ${1000} (${wajibZakat})`);
      // }

      $(document).ready(function(){
          
        $('#penghasilan').autoNumeric('init');
       
        

      $("#penghasilan").keyup(calc);

      function format1(n, currency) {
  return currency + n.toFixed(0).replace(/./g, function(c, i, a) {
    return i > 0 && c !== "." && (a.length - i) % 3 === 0 ? "." + c : c;
  });
}

function calc() {
  let penghasilan = $('#penghasilan').autoNumeric('get');
  console.log(penghasilan)
        let tglGajian = $('#tglGajian').val();
        //let hargaBeras = $('[name=hargaBeras]').val();
        let zakat = penghasilan*0.025;
        let wajibZakat = penghasilan >= 5240000 ?'Wajib':'Tidak Wajib';

        //set value to input id=zakat
        $('#zakat').val(zakat.toFixed(0));

        //set value keterangan to input id=wajibZakat
        $('#wajibZakat').val(wajibZakat);
        
        //set result zakat yang dikeluarkan dan keterangan
        $('#jumlahZakat').html(`
        ${format1(zakat, 'Rp ')} ${wajibZakat}
    `);
    
}

      });
  </script>
  <form action="/inputZakat" method="get">
    <input type="hidden" name="psid" id="psid">
    <div class="form-group">
      <label for="penghasilan">Penghasilan per Bulan</label>
      <input type="text" class="form-control " name="penghasilan" id="penghasilan" data-a-sign="Rp " data-a-dec="," data-a-sep="."
        aria-describedby="emailHelp" placeholder="Contoh 5000000" required />
    </div>
    <!-- <div class="form-group">
      <label for="pengeluaran">Pengeluaran Kebutuhan Pokok per Bulan</label>
      <input type="number" class="form-control" name="pengeluaran" id="pengeluaran" placeholder="Contoh 1500000"
        required />
    </div> -->
    <div class="form-row">
      <div class="col">
        <label for="tglGajian">Tanggal </br>Gajian</label>
        <input type="number" class="form-control" id="tglGajian" name="tglGajian" placeholder="1" min="1" max="31" value="" oninput="active()" required />
      </div>
      <!-- <div class="col">
        <label for="hargaBeras">Harga Beras per Liter</label>
        <input type="number" class="form-control" name="hargaBeras" placeholder="6500" value="" oninput="active()"
          required />
      </div> -->
      <div class="col">
        <label for="batasNishab">Batas </br>Nishab</label>
        <input type="text" class="form-control" name="batasNishab" id="batasNishab" value="Rp 5.240.000" data-a-sign="Rp " data-a-dec="," data-a-sep="." readonly />
      </div>
    </div>
    <div class="form-group">
      <div style="margin-top: 1em">
        <label for="jumlahZakat">Zakat Penghasilan yang Dikeluarkan</label>
      </div>
    </div>
    <div class="jumlah" style="text-align: center">
      
      <input type="hidden" name="zakat" id="zakat" value="">
      <input type="hidden" name="wajibZakat" id="wajibZakat" value="">
      <h5 style="color: blue" id="jumlahZakat">-</h5>
      
    </div>
    <p><small>*batas nishab berdasarkan peraturan menteri agama no 52/2014 dan pendapat shaikh yusuf qardawi (BAZNAS).</small></p>
    
    <div class="button">
      <script>
        function active() {
          $('button').removeAttr('disabled')
        };
        window.extAsyncInit = function () {
          // the Messenger Extensions JS SDK is done loading 
          // MessengerExtensions.getSupportedFeatures(function success(result) {
          //   let features = result.supported_features;
          //   if (features.indexOf("context") != -1) {
          //     MessengerExtensions.getContext('376777133255113',
          //       function success(thread_context) {
          //         // success
          //         document.getElementById("psid").value = thread_context.psid;
          //         // More code to follow
          //       },
          //       function error(err) {
          //         console.log(err);
          //       }
          //     );
          //   }
          // }, function error(err) {
          //   console.log(err);
          // });
          MessengerExtensions.getUserID(function success(user_ids) {
  // User ID was successfully obtained. 
  let psid = user_ids.psid;
  document.getElementById("psid").value = psid;

}, function error(err, errorMessage) {      
  // Error handling code
});

          document.getElementById('submitButton').addEventListener('click', function () {
            MessengerExtensions.requestCloseBrowser(function success() {
              console.log("Webview closing");
            }, function error(err) {
              console.log(err);
            });
          });
        };
      </script>
      <button type="submit" class="btn btn-primary" value="Submit" id="submitButton" disabled>Simpan</button>
    </div>
  </form>
</body>

</html>