<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Invoice Zakat</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
    <style>
    body{
        background: #FBFBFB;
    }
    </style>
   <script>
       (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) { return; }
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));


    window.extAsyncInit = function () {
          // the Messenger Extensions JS SDK is done loading 
          MessengerExtensions.getSupportedFeatures(function success(result) {
            let features = result.supported_features;
            if (features.indexOf("context") != -1) {
              MessengerExtensions.getContext('376777133255113',
                function success(thread_context) {
                  // success
                  document.getElementById("psid").value = thread_context.psid;
                  // More code to follow
                },
                function error(err) {
                  console.log(err);
                }
              );
            }
          }, function error(err) {
            console.log(err);
          });

          
        };
       $(document).ready(function(){
        var jumlah = "<%= jumlahZakat %>";
       var total = "<%= totalZakat %>";


       var jumlahConv = format1(Number(jumlah),'Rp ');
       var totalConv = format1(Number(total),'Rp ');
       //set form action
$('#myform').attr('action', `/pembayaran/${totalConv}`);
    function format1(n, currency) {
  return currency + n.toFixed(0).replace(/./g, function(c, i, a) {
    return i > 0 && c !== "." && (a.length - i) % 3 === 0 ? "." + c : c;
  });
}
    $('#jml').html(jumlahConv);
    $('#tot').html(totalConv);

    //send data total pembayaran to ui pembayaran via hidden input
    $('#totalZakat').val(total);
    

       })
       
   </script>
</head>
<body>
    <br>
    <div class="text-center">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
width="100" height="100"
viewBox="0 0 64 64"
style=" fill:#000000;"><radialGradient id="dgyUNY3teP395xixzt8r6a" cx="30.35" cy="29.5" r="34.437" gradientUnits="userSpaceOnUse" spreadMethod="reflect"><stop offset="0" stop-color="#eed7a2"></stop><stop offset=".106" stop-color="#f1dcab"></stop><stop offset=".437" stop-color="#f8e8c3"></stop><stop offset=".744" stop-color="#fcefd2"></stop><stop offset="1" stop-color="#fef2d7"></stop></radialGradient><path fill="url(#dgyUNY3teP395xixzt8r6a)" d="M60.83,38H55.5c-1.466,0-2.637-1.261-2.487-2.758c0.13-1.301,1.322-2.242,2.63-2.242l0.857,0 c1.466,0,2.637-1.261,2.487-2.758C58.857,28.941,57.665,28,56.357,28l-12.181,0C43.62,27.429,42.84,27.065,42,27.009v-3.92 c0.034-0.034,0.054-0.054,0.089-0.089l11.723,0c2.086,0,3.958-1.514,4.168-3.59C58.22,17.028,56.335,15,54,15H42 c-1.657,0-3-1.343-3-3v0c0-1.657,1.343-3,3-3h1.986c0,0,0,0,0.001,0c1.845,0.008,3.305-1.649,2.963-3.555 C46.691,3.995,45.326,3,43.852,3L8,3C6.29,3,4.914,4.431,5.004,6.161C5.089,7.784,6.545,9,8.17,9H9c1.215,0,2.176,1.083,1.973,2.336 C10.813,12.319,9.889,13,8.893,13L4,13c-1.71,0-3.086,1.431-2.996,3.161C1.089,17.784,2.545,19,4.17,19H8.5 c1.466,0,2.637,1.261,2.487,2.758C10.857,23.059,9.665,24,8.357,24l-3.715,0c-1.308,0-2.499,0.941-2.63,2.242 C1.863,27.739,3.034,29,4.5,29c0,0,0.272-0.021,2.985-0.025c1.94-0.002,3.515,1.57,3.515,3.51v0.006c0,1.937-1.568,3.508-3.505,3.51 c-1.602,0.002-3.28,0.006-4.147,0.014c-1.936,0.085-3.467,1.729-3.341,3.713C0.127,41.605,1.818,43,3.698,43L19,43v3.313 c-0.535,0.457-1.251,0.69-1.987,0.687c-1.845-0.008-3.305,1.649-2.964,3.555C14.31,52.005,15.674,53,17.148,53H27v1h7h8h15 c1.71,0,3.086-1.431,2.996-3.161C59.911,49.216,58.455,48,56.83,48H56c-1.215,0-2.177-1.083-1.973-2.336 c0.16-0.983,1.084-1.664,2.08-1.664H61c1.71,0,3.086-1.431,2.996-3.161C63.911,39.216,62.455,38,60.83,38z"></path><linearGradient id="dgyUNY3teP395xixzt8r6b" x1="32.5" x2="32.5" y1="780" y2="827.314" gradientTransform="matrix(1 0 0 -1 0 837)" gradientUnits="userSpaceOnUse" spreadMethod="reflect"><stop offset="0" stop-color="#4bcaee"></stop><stop offset=".507" stop-color="#56cdf1"></stop><stop offset="1" stop-color="#66d2f4"></stop></linearGradient><path fill="url(#dgyUNY3teP395xixzt8r6b)" d="M17,8c-1.657,0-3,1.343-3,3v46h31c3.314,0,6-2.686,6-6V11c0-1.657-1.343-3-3-3L17,8z"></path><linearGradient id="dgyUNY3teP395xixzt8r6c" x1="-327" x2="-327" y1="8.266" y2="22.266" gradientTransform="matrix(-1 0 0 1 -302 35)" gradientUnits="userSpaceOnUse" spreadMethod="reflect"><stop offset=".06" stop-color="#2fc3e9"></stop><stop offset=".723" stop-color="#1face0"></stop><stop offset="1" stop-color="#18a1db"></stop></linearGradient><path fill="url(#dgyUNY3teP395xixzt8r6c)" d="M45,57L45,57H11c-3.314,0-6-2.686-6-6v-5c0-1.657,1.343-3,3-3h28c1.657,0,3,1.343,3,3v5 C39,54.314,41.686,57,45,57z"></path><linearGradient id="dgyUNY3teP395xixzt8r6d" x1="35.406" x2="35.406" y1="43.483" y2="56.749" gradientUnits="userSpaceOnUse" spreadMethod="reflect"><stop offset="0" stop-color="#28b5e4"></stop><stop offset=".48" stop-color="#23aee1"></stop><stop offset="1" stop-color="#18a1db"></stop></linearGradient><path fill="url(#dgyUNY3teP395xixzt8r6d)" d="M39,51v-5c0-1.657-1.343-3-3-3h-2.98c-1.215,0-2.176,1.083-1.973,2.336 C31.207,46.319,32.13,47,33.127,47h1.393c0.828,0,1.5,0.672,1.5,1.5s-0.672,1.5-1.5,1.5h-5.413c-0.996,0-1.92,0.681-2.08,1.664 C26.824,52.917,27.785,54,29,54h2.52c0.828,0,1.5,0.672,1.5,1.5s-0.672,1.5-1.5,1.5H43c0.407,0,0.666-0.042,0.812-0.119 C41.067,56.33,39,53.907,39,51z"></path><g><path fill="#fff" d="M43 39H30c-1.105 0-2-.895-2-2v0c0-1.105.895-2 2-2h13c1.105 0 2 .895 2 2v0C45 38.105 44.105 39 43 39zM43 32H30c-1.105 0-2-.895-2-2v0c0-1.105.895-2 2-2h13c1.105 0 2 .895 2 2v0C45 31.105 44.105 32 43 32zM43 25H30c-1.105 0-2-.895-2-2v0c0-1.105.895-2 2-2h13c1.105 0 2 .895 2 2v0C45 24.105 44.105 25 43 25z"></path><g><path fill="#fff" d="M23 39h-1c-1.105 0-2-.895-2-2v0c0-1.105.895-2 2-2h1c1.105 0 2 .895 2 2v0C25 38.105 24.105 39 23 39zM23 32h-1c-1.105 0-2-.895-2-2v0c0-1.105.895-2 2-2h1c1.105 0 2 .895 2 2v0C25 31.105 24.105 32 23 32zM23 25h-1c-1.105 0-2-.895-2-2v0c0-1.105.895-2 2-2h1c1.105 0 2 .895 2 2v0C25 24.105 24.105 25 23 25z"></path></g></g></svg>
    </div>
    <br>
    <form id="myform" action="" method="GET">
    <input type="hidden" name="psid" id="psid">
    <div class="container">
        <div class="row">
            <h6 class="text-muted col">Jumlah Zakat</h6>
            <h5 class="col text-right" id="jml"></h5>
        </div>
        <div class="row">
            <h6 class="text-muted col">Biaya Admin</h6>
            <h5 class="col text-right">Rp 3.000</h5>
        </div>
        <hr>
        <div class="row">
            <h6 class="text-muted col">Total</h6>
            <h5 class="col text-right" id="tot" style="color: orange"></h5>
        </div>
    </div>
    <br>
    
    <div class="container">
        <h5>Pilih Metode Pembayaran</h5>
            <br>
        <div class="container text-center">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="paymentMethod" id="pMethod1" value="gopay">
            <label class="form-check-label" for="pMethod1"><img id="gopayIMG" src="/static/gopay.svg" width="90" alt="Gopay"></img></label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="paymentMethod" id="pMethod2" value="ovo">
            <label class="form-check-label" for="pMethod2"><img id="ovoIMG" src="/static/ovo.svg" width="60" alt="OVO"></img></label>
        </div>
    </div>
        
        <br>
        <br>
        <h5>Nomor HP Pengirim</h5>
        <div class="form-group">
            
            <input type="number" class="form-control " name="noHP" id="noHP" aria-describedby="emailHelp" placeholder="Contoh 081234567899" required />
          </div>
          <br>
        <input type="hidden" name="totalZakat" id="totalZakat" value="">
        <button type="submit" class="btn btn-primary" value="Submit" id="submitButton" style="width: inherit">Lanjutkan Pembayaran</button>
    </form>
    </div>
    <br>
</body>
</html>