<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pembayaran</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
    
 <script>
//      $('.btns').click(function(){
        
//   $(this).CopyToClipboard();
  

// });

function copyToClipboard(string) {
  let textarea;
  let result;

  try {
    textarea = document.createElement('textarea');
    textarea.setAttribute('readonly', true);
    textarea.setAttribute('contenteditable', true);
    textarea.style.position = 'fixed'; // prevent scroll from jumping to the bottom when focus is set.
    textarea.value = string;

    document.body.appendChild(textarea);

    textarea.focus();
    textarea.select();

    const range = document.createRange();
    range.selectNodeContents(textarea);

    const sel = window.getSelection();
    sel.removeAllRanges();
    sel.addRange(range);

    textarea.setSelectionRange(0, textarea.value.length);
    result = document.execCommand('copy');
  } catch (err) {
    console.error(err);
    result = null;
  } finally {
    document.body.removeChild(textarea);
  }

  // manual copy fallback using prompt
  if (!result) {
    const isMac = navigator.platform.toUpperCase().indexOf('MAC') >= 0;
    const copyHotkey = isMac ? '⌘C' : 'CTRL+C';
    result = prompt(`Press ${copyHotkey}`, string); // eslint-disable-line no-alert
    if (!result) {
      return false;
    }
  }
  return true;
}

    

    
   
     
 </script>
    <style>
    button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
    </style>
</head>
<body style="background-color: #E5E5E5; margin: 0">
    <div class="row" style="background-color: white; padding: 0.5em 0; margin: 0; box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25)">
        <p class="col" style="margin: 0">Total Pembayaran</p>
        <h6 class="col text-right" id="tot" style="color: orange; align-self: center"><%= totalPembayaran %></h6>
    </div>
    <br>
    <div class="container" style="background-color: white;box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25)">
        <div class="row" style="padding: 0.4em 0.7em">
            <label class="form-check-label" for="pMethod1"><img id="gopayIMG" src="/static/gopay.svg" width="50" alt="Gopay"></img></label>
            <p class="small" style="margin:0;align-self: center">Gopay (Dicek Otomatis)</p>
            
        </div>
        <hr style="margin :0">
        <div class="row" style="padding-top: 0.4em;padding-left:  1em;padding-bottom: 0em; padding-right: 1em">
            <p class="small" style="margin:0;align-self: center">No. Penerima:</p>
            
        </div>
        <div class="row" style="padding-top: 0;padding-left:  0em;padding-bottom: 0.5em; padding-right: 0em">
            <p class="col lead" style="margin: 0; color: orange;"><strong>081315594714</strong></p>
            
            <button style="color: cadetblue; padding-right: 1em;" onclick="copyToClipboard('081315594714') ? this.innerText='Copied!': this.innerText='Sorry :(' ">SALIN</button>
            <!-- <button class="btns" style="color: cadetblue; padding-right: 1em;" data-clipboard-text="081315594714">SALIN          
            </button> -->
            
        </div>
        <hr style="margin: 0">
        <div class="row" style="padding-top: 0.5em;padding-left:  0em;padding-bottom: 0.5em; padding-right: 0em">
            <p class="col small" style="margin: 0; color: cadetblue;">Dicek dalam 10 menit setelah pembayaran berhasil</p>
            
        </div>
        
    </div>
    <br>
    <div class="container" style="background-color: white; box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25)">
        <p class="small" style="padding-top: 0.6em"><strong>Petunjuk Pembayaran</strong></p>
        <p class="small" style="margin: 0.3em 0">1. Klik salin untuk menyalin nomor penerima.</p>
        <p class="small" style="margin: 0.3em 0">2. Masuk ke aplikasi gojek anda dan pilih Bayar. atau langsung klik tombol Go to Gojek dibawah ini.</p>
        <div class="text-center">
                <a class="btn btn-success btn-sm" href="https://gojek.onelink.me/2351932542?af_banner=true&pid=Go-Jek_Web&c=WebToAppBanner&af_adset=bottom-banner&af_ad=%2Fgoride%2F&af_dp=gojek%3A%2F%2Fhome" role="button">Go to Gojek</a>
            
        </div>
        <p class="small" style="margin: 0.3em 0">3. Jika sudah membayar, klik tombol konfirmasi dibawah ini dan sistem akan mengeceknya secara otomatis.</p>
        <p class="small" style="margin: 0.3em 0"><mark>Catatan:</mark> untuk melihat riwayat pembayaran anda bisa lihat di menu 'Riwayat Zakat'.</p>
        <br>
        
    </div>
    
    <div class="container text-center" style="left: 0;right: 0;padding: 0.4em 0;background-color: white; margin-top: 0.6em;position: fixed;bottom: 0;box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25)">
        <button class="btn btn-primary" style="width: inherit">Konfirmasi</button>
    </div>
    <br>
    <br>
</body>
</html>