<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
 
    <title>Riwayat Zakat</title>
</head>
<body>
    
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4" style="align-self: center;">
            <img src="../static/gerobak.jpg" class="card-img" alt="gerobak">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Pembayaran Zakat #2097</h5>
              <p class="card-text">Zakat anda kami salurkan ke Keluarga Pak Asep untuk membeli gerobak rujak buah.</p>
              <p class="card-text"  style="color: green;"> <small class="text-muted">Sudah Dibayar</small></p>
            </div>
          </div>
        </div>
      </div>
    
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4" style="align-self: center;">
            <img src="../static/gerobak.jpg" class="card-img" alt="gerobak">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Pembayaran Zakat #2097</h5>
              <p class="card-text">Zakat anda kami salurkan ke Keluarga Pak Asep untuk membeli gerobak rujak buah.</p>
              <p class="card-text"  style="color: green;"> <small class="text-muted">Sudah Dibayar</small></p>
            </div>
          </div>
        </div>
      </div>
    
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4" style="align-self: center;">
            <img src="../static/gerobak.jpg" class="card-img" alt="gerobak">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Pembayaran Zakat #2097</h5>
              <p class="card-text">Zakat anda kami salurkan ke Keluarga Pak Asep untuk membeli gerobak rujak buah.</p>
              <p class="card-text"  style="color: rgb(128, 0, 11);"> <small class="text-muted">Sudah Dibayar</small></p>
            </div>
          </div>
        </div>
      </div>
    
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4" style="align-self: center;">
            <img src="../static/gerobak.jpg" class="card-img" alt="gerobak">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Pembayaran Zakat #2097</h5>
              <p class="card-text">Zakat anda kami salurkan ke Keluarga Pak Asep untuk membeli gerobak rujak buah.</p>
              <p class="card-text"  style="color: green;"> <small class="text-muted">Sudah Dibayar</small></p>
            </div>
          </div>
        </div>
      </div>
    
</body>
</html>